.sidenav {
	width: 120px;
	z-index: 1;
	position: fixed;
	top: 30px;
	left: 0;
	background-color: rgb(82, 93, 118);
	overflow-x: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 40px;
}

.sidenav a {
	padding: 6px 8px 6px 12px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
}

.sidenav a:hover {
	color: rgb(111, 2, 2);
}

.main {
	margin-top: 60px;
	margin-left: 160px;
	max-width: 856px;
	padding: 0px 10px;
}

body {
	background-color: rgb(124, 134, 156);
}

h1 {
	color: white;
}

p {
	color: white;
}